
TT_orcamentos/TTOrcamentos2/Properties/Settings.settings
TT_orcamentos/TTOrcamentos2/Web.config
TT_orcamentos/TTOrcamentos2/Properties/Settings.settings
TT_orcamentos/.vs/TT_orcamentos/v14/.suo
TT_orcamentos/TTOrcamentos2/obj/Debug/TTOrcamentos2.csprojResolveAssemblyReference.cache
*.cache
TT_orcamentos/.vs/config/applicationhost.config
*.cache
TT_orcamentos/TTOrcamentos2/obj/Debug/TTOrcamentos2.csprojResolveAssemblyReference.cache
